<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054670126045-8a46h160uprkf1bljamn15c0mjgh1c9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054670126045-8a46h160uprkf1bljamn15c0mjgh1c9j</string>
	<key>API_KEY</key>
	<string>AIzaSyBGdEwLtPgPiGe_f_i5YEmCE_3wTFHilU8</string>
	<key>GCM_SENDER_ID</key>
	<string>1054670126045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>geostream</string>
	<key>PROJECT_ID</key>
	<string>geostream-6ae8c</string>
	<key>STORAGE_BUCKET</key>
	<string>geostream-6ae8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054670126045:ios:4bd52418351cf8b2</string>
	<key>DATABASE_URL</key>
	<string>https://geostream-6ae8c.firebaseio.com</string>
</dict>
</plist>